/* ------ Template content ------ */

#template-content {
	background-color: white;
	padding: 10px;
	height: 100%;
	width: 100%;
	margin: 20px;
	padding: 10px;
}

.template-content textarea {
	border: 1px solid grey;
	outline: none;
}

/* ------ End template content ------ */