

.main {
	position: relative;
	height: 100%;
	margin-bottom:50px;
}

body, html {
	width: 100%;
	height: 100%;
}

.wrapper {
  background-color: #fff;
  color: #444;
  display: flex;
  height: 100%;
}

#left-sidebar, #right-sidebar {
	 width:200px;
	 min-width:200px;
	 flex-grow:0;
	 height: 100%;
	 max-height:500px;
	 
}


#doc-content {
	overflow-y:scroll;
	height: 100%;
	margin: 20px;
	padding: 10px;
	border-radius:0px !important;
	background-color: white;
	color: black;

}


.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 0;
  box-sizing: border-box;
  flex: 1 1 auto;
}

.handler {
  width: 10px;
  padding: 0;
  cursor: ew-resize;
  flex: 0 0 auto;
}

.handler::before {
  content: '';
  display: block;
  width: 4px;
  height: 100%;
  background: red;
  margin: 0 auto;
}


.container {
	padding: 0;
	width: 100%;
}



.document-saving {
	position: fixed;
	bottom:0;
	right:0;
	left:0;
	width:100%;
	text-align: center;
	border-top:1px solid grey;
	height:50px;
	padding:1px;
	
}

